* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* margin: 0; */
  padding: 0;
  align-items: center;
  text-align: center;
  background-color: white;
}

nav {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
}

nav div img {
  width: 70px;
  box-shadow: 9px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #191919;
  font-weight: 600;
  padding: 7px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(170, 255, 0, 0);
}

nav ul li a:hover {
  color: wheat;
  border-bottom: 1px solid yellowgreen;
}

.back {
  position: relative;
  padding-top: 50px;
  padding-left: 10px;
}

h1 {
  position: relative;
  bottom: 450px;
}

.produk {
  position: relative;
  left: 34%;
  float: left;
  bottom: 390px;
}
.produk h6 {
  position: relative;
  color: white;
  text-align: center;
}

.custom {
  position: relative;
  bottom: 173px;
  right: 310px;
}

.produk:hover {
  transition-duration: 700ms;
  box-shadow: 5px 5px gainsboro;
}

h2 {
  color: #00a2c6;
  margin: 10px 0;
  padding: 5px;

  color: #00a2c6;
  transition: color 0.6s;
  cursor: pointer;
}

.content {
  position: relative;
  display: flex;
}

.card {
  position: relative;
  text-align: center;
  bottom: 100px;
  right: 290px;
  margin: 20px;
  width: 100%;
}

.card h2 {
  font-size: 1.5em;
}

.card p {
  font-size: 1em;
  margin-bottom: 10px;
  text-align: justify;
}

.badan {
  position: relative;
  width: 100%;
  background-color: white;
}

.badan h2 {
  color: rgb(2, 197, 122);
  border-bottom: 1px solid gainsboro;
  margin: 5px;
  margin-bottom: 13px;
}

.list-produk {
  border: 1px solid gainsboro;
  padding: 10px;
  float: left;
  width: 200px;
  margin: 5px;
  align-items: center;
  margin-left: 20px;
}

.list-produk:hover {
  transition-duration: 700ms;
  box-shadow: 5px 5px gainsboro;
}

.list-produk img {
  width: 100%;
  height: 175px;
  display: block;
  margin-bottom: 5px;
}

.list-produk h4,
.list-produk h5 {
  color: rgb(2, 197, 122);
  text-align: center;
  margin-bottom: 5px;
}

.tombol {
  text-decoration: none;
  border-radius: 7px;
  padding: 7px;
  display: block;
  float: left;
  width: 45%;
  margin: 4px;
  text-align: center;
  color: white;
}

.tombol:hover {
  background-color: black;
  transition-duration: 700ms;
}

.tombol-detail {
  background-color: green;
}

.tombol-beli {
  background-color: crimson;
}

.col {
  padding-left: 25px;
}
